body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E8F4F0;
}

.background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#logo {
  background-image: url('./icon-left-font.png');
  height: 200px;
}

#promo {
  background: url('./screenshot__1_.png') center center, white;
  height: 80vh;
  width: 60vw;
  margin: 50px 10vw;
  border: 4px solid #04291D;
  border-radius: 20px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 80px;
  text-align: center;
}


header h1 {
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  text-transform: uppercase;
  text-align: center;
}

/* #root {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.button {
  margin: 20px auto;
  text-align: center;
  background-color: #2CC26F;
  color: #E8F4F0;
  border: none;
  padding: 20px 100px;
  border-radius: 100px;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: content-box;
  font-weight: bold;
}

.feature {
  color: #04291D;
  margin: 5% 0;
}

.feature:nth-child(2) {
  margin: 5% 5%;
}

.feature-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 30px;
  font-family: lato;
  margin-bottom: 30px;
}

.feature-header i {
  font-size: 1.4em;
  margin-left: 5%;
}

.features-body {
  display: flex;
  margin: 0 10vw;
  font-weight: 300;
  font-size: 1.2em;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}