* {
    box-sizing: border-box;
}

.screen {
    background-color: #2cc26f;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}
.container {
    margin-top: 80px;
}
.card {
    background-color: white;
    color: #01695A;
    font-size: 12px;
    border: 2px solid #01695A;
    border-radius: 25px;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card p {
    font-family: 'Lato', sans-serif;
    color: #04291D;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 20px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrap img {
    width: 100px;
}

textarea {
    border: 2px solid black;
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

button {
    background-color: #2cc26f;
    color: #e8f4f0;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 4px 45px;
    margin-top: 20px;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

.btn {
    background-color: #2cc26f;
    color: #e8f4f0;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 4px 45px;
    margin-top: 20px;
    transition: transform 80ms ease-in;
}

.row {
    font-family: 'Lato', sans-serif;
    color: #04291D;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 20px;
}